option_settings:
  aws:autoscaling:launchconfiguration:
    EC2KeyName: ""
    InstanceType: "t2.micro"
    SecurityGroups: "sg-0dc2e8a08735a8de6"
  aws:ec2:vpc:
    VPCId: "vpc-02b78f47341ba84a9"
    Subnets: "subnet-00d8caf581ba434ee, subnet-014aca04f55b8aa3c"
    ELBSubnets: "subnet-04e8112a73ace7354, subnet-0b600982e02672696"
